@font-face {
    font-family: 'BPreplayRegular';
    src: url('./fonts/BPreplay-webfont.eot');
    src: url('./fonts/BPreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/BPreplay-webfont.woff') format('woff'),
         url('./fonts/BPreplay-webfont.ttf') format('truetype'),
         url('./fonts/BPreplay-webfont.svg#BPreplayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body {
	margin:0;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	background: #FFF;
	line-height: 130%;
	
	}

a {
	text-decoration: none;
	color: #333;
}
a:hover{
		color: #e5c381;
}
img{ 
	border: none;
}


/* CONTAINER */
#container_header{
	width: 100%;
	margin: 0 auto;
	background: #FFF url("./img/bg_header.png") repeat-x;
	height: 115px;
}
.container_fit{
	width: 960px;
	margin: 0 auto;
}
#container_all{
	background: #000;
}

/* HEADER */
#header{
	height: 60px;
	padding-top: 15px;
	border-bottom: 1px solid #CCC;
}
#header_logo{
}

#header_info{
}
#header_lang{
	width: 80px;
	float: right;
	padding: 5px 0 0 10px;
	border-left: 1px solid #ccc;
	margin-left: 10px;
}
#header_call{
	width: 200px;
	float: right;
	text-align: right;
	font-size: 10px;
	padding-right:7px; 
	padding-top: 10px
}
#header_call span{
	font-size: 14px;
}

/* MENU */
#menu{
	height: 26px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding-top: 13px;
}
#menu a{
	padding: 13px 42px 13px 42px;
	font-size: 12px;
}

#menu a:hover{
	color: #FFF;
	background: #ccc;
}

/* CONTENT */
#content{
	width: 1100px;
	min-height: 300px;
	margin: 0 auto;
	font-family: Helvetica,Arial,Verdana; 
}
#content_right{
	float: right;
	width: 370px;
	text-align: right;
	padding-top: 50px;
	padding-right: 20px;
	color: #999;
	font-size: 12px;
	line-height: 130%;
}
#content h1{
	font-size: 22px;
	padding-bottom: 15px;
	color: #FFF;
}
#content p{
	padding-bottom: 10px;
}
#content a{
	color: #999;
}
#content a:hover{
	color: #FFF;
}

/* FOOTER */
#footer{
	padding: 20px 0;
	border-top: 1px solid #CCC;
}
#footer_menu{
	text-align: right;
}
#footer_menu a{
	margin: 0 10px;
}
#footer a:hover{
	color: #99CC00;
}

/* SUBMENU */
#subcontent{
	padding: 30px 0;
}
#subcontent h2{
	font-size: 15px;
	padding-bottom: 15px;
	text-decoration: underline;
	line-height: 110%;
}
.subcontent{
	padding-right: 10px;
}
.subcontent img.thumb{
	width:100px;
	padding:2px;

}
#list li{
	padding: 10px 0px;
	border-bottom: 1px solid #CCC;
}
#list li:last-child{
	border-bottom: 0px solid #CCC;
}

/* SERVICE */
#service,#contact{
	width: 980px;
	min-height: 450px;
	margin: 0 auto;
}
#service_left{
	padding-top: 25px;
}
#service_content{
	padding-top: 40px;
	color: #9d9d9d;
	font-size: 12px;
}
#service_content h1{
	font-size: 22px;
	padding-bottom: 15px;
	color: #FFF;
}
#service_content p{
	padding-bottom: 10px;
}
#service_content h2{
	font-size: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	color: #CCC;
	line-height: 110%;
}
#service_content h3{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #CCC;
}
#map_canvas{
	margin-top: 25px;
	height: 395px;
}