@font-face {
    font-family: 'BPreplayRegular';
    src: url('./fonts/BPreplay-webfont.eot');
    src: url('./fonts/BPreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/BPreplay-webfont.woff') format('woff'),
         url('./fonts/BPreplay-webfont.ttf') format('truetype'),
         url('./fonts/BPreplay-webfont.svg#BPreplayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body {
	margin:0;
	padding: 0px;
	font-family: 'BPreplayRegular', "Trebuchet MS", Helvetica,Verdana, Arial;
	font-size: 11px;
	color: #333;
	background: #FFF;
	line-height: 130%;
	
	}

a {
	text-decoration: none;
	color: #333;
}
a:hover{
		color: #e5c381;
}
img{ 
	border: none;
}

/* CONTAINER */
#container_all{
	width: 100%;
	margin: 0 auto;
	background: #FFF url("./img/bg_slider.png") repeat;
}
.container_fit{
	width: 960px;
	margin: 0 auto;
}

/* HEADER */
#header_menu{
	padding-top: 20px;
	color: #666;
}
#header_menu a{
	margin: 0 15px;
}
#header_social{
	padding-top: 18px;
}

/* SLIDER */
#slider{
	min-height: 300px;
}
#latest_project{
	padding: 20px 0 7px 0;
	font-size: 12px;
}
.latest img{
	width: 210px;
	border: 5px solid #CCC;
}

.subcontent h1{
	font-size: 18px;
	font-weight: normal;
	padding: 10px 0 20px 0;
}
#subcontent1{
	border-top: 1px solid #ED008C;
}
#subcontent2{
	border-top: 1px solid #00AEF0;
}
#subcontent3{
	border-top: 1px solid #F8941D;
}
#subcontent4{
	border-top: 1px solid #00C785;
}

/* FOOTER */
#footer{
	margin-top: 20px;
	padding: 10px 0;
	height: 50px;
	border-top: 1px dotted #CCC;
}
#footer_menu{
	text-align: right;
}
#footer_menu a{
	font-size: 10px;
	padding: 0 7px;
}

/* ABOUT */

#about #aboutimg img{
	width: 100%;
}
#abouttext{
	padding: 20px;
}
#about h1{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0 20px 0;
}
#about h2{
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0 5px 0;
}
#about h3{
	font-size: 13px;
	font-weight: bold;
	padding: 15px 0 5px 0;
}

/* CONTACT */
#contacttext{
	padding: 20px;
}
#contacttext input[type='text']{
	width: 300px;
}
#contacttext textarea{
	width: 300px;
}
#contactmap{
	height: 400px;
}

/* PORTFOLIO */
.porto{
	height: 150px;
}
.porto img{
	width: 210px;
	border: 5px solid #CCC;
}
.porto span{
	font-size: 10px;
	line-height: 22px;
}